/* imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared-styles */

/* header styles */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid red;
}

.nav-content {
    width: 100%;
    max-width:1440px;
    border:2px solid green;
    margin:10px;
    background-color: aqua;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.menu-links {
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu-links li {
    list-style: none;
}

.menu-links li a {
    text-decoration: none;
}