/* imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display-hide {
    display: none !important;
}

/* shared-styles */
.title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 24px;
}

.description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

.primary-btn {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 23px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 21px 25px;
    border: none;
    text-decoration: none;
}

/* header styles */
#header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 45px;
    margin-bottom: 85px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 92px;
    /* border: 2px solid red; */
    max-width: 1440px;
    padding: 10px 0;
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.menu-links li {
    list-style: none;
}

.menu-links li a {
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
}

.brand {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2.81rem;
    font-weight: 700;
    line-height: 53px;
}

/* banner styles */
.banner {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    max-width: 1440px;
    margin: 0 auto;
}



.banner-text-content {
    width: 862px;
    text-align: center;
    margin-bottom: 50px;
}

.img-container {
    /* width: 100%;
    height: 100%; */
}

.img-container img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/* our features styles */
.our-features {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.our-features-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features-right {
    margin-left: 73px;
}

.our-features-title {
    font-family: Work Sans;
    font-size: 2.81rem;
    font-weight: 700;
    line-height: 53px;
}
.our-features-description{

}
#quick-list {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
    line-height: 53px;
}

#features {
    color: rgb(255, 144, 14);
}

/* features-enjoy section style */
.features-enjoy {
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.features-left {
    width: 586px;
    padding-top: 70px;
}

.features-title-content {
    margin-bottom: 60px;
}

.features-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 2.81rem;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 24px;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 10px;
}

.features-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.features-cards-container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
.feature-card {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.feature-card-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 10px;
}

.feature-card-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.features-right{
    position:relative;
}
.experience-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255, 144, 14);
    border-radius: 8px;
    width: 342px;
    height: 154px;
    position: absolute;
    bottom: 7px;
    left: -84px;
}

.experience-year {
    font-family: Work Sans;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 4.06rem;
    line-height: 70px;
      text-align:center;

}

#experience {
    font-family: Work Sans;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.56rem;
    line-height: 50px;
    text-align:center;

}

/* responsive media queries */

/* small devices */
@media only screen and (max-width:576px) {

    /* header section responsive */
    .navbar {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .menu-links {
        gap: 20px;
        flex-direction: column;
    }

    .banner-text-content {
        width: auto;
    }

    /* our features section responsive*/
    .our-features {
        flex-direction: column;
        gap: 30px;
    }

    .our-features-left {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .our-features-title {
        text-align: center;
    }

    .our-features-description {
        padding: 0 10px;
    }

    /* features-enjoy section responsive */
    .features-enjoy {
        flex-direction: column;
    }
    .features-left {
        width: auto;
    }
    .experience-card {
        left:0px;
    }
}

/* medium devices */
@media only screen and (min-width:577px) and (max-width:992px) {

    /* header section responsive*/
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .banner-text-content {
        width: auto;
    }

    /* our features section responsive*/
    .our-features {
        flex-direction: column;
        gap: 30px;
    }

    .our-features-left {
        grid-template-columns: repeat(2, 1fr);
    }

    /* features-enjoy-section-responsive */
    .features-enjoy {
        flex-direction: column;
    }
    .features-left {
        width: auto;
    }
    .features-cards-container{
        grid-template-columns: repeat(2,1fr);
    }
    .experience-card {
        left:0px;
    }
}